#titulo1{
    color: black;
}

h1{
    margin-bottom: 20px;
    color: rgb(226, 147, 0);
}

#carrusel2{
    margin-top: 10px;
}

#carouselSlidesOnly{
    max-height: 350px;
}

#CarruselNivel1{
    max-height: 350px;
    margin: 10px;
}

#CarruselNivel2{
    max-height: 350px;
    margin: 10px;
}

h3{
    text-align: center;
    margin: 80px;
}

.icon{
    margin: auto;
}

.containerIcons{
    margin-bottom: 100px;
}
