<div class="container">
    <h1>Registro de usuarios</h1>
        <div class="container" id= 'formulario'>
            <div class="mb-3">
            <label for="validationCustom01" class="form-label">Nombres</label>
            <div class="input-group has-validation">
            <input type="text" class="form-control" placeholder="Ejemplo: Jesucristo Hitler" id="validationCustom01" formControlName="nombre">
            </div>
            <div class="mb-3">
                <label for="validationCustom05" class="form-label">Apellidos</label>
                <div class="input-group has-validation">
                <input type="text" class="form-control" placeholder="Ejemplo: Paracelso Zeppelin" id="validationCustom03" formControlName="apellido">
            </div>
            <div class="mb-3">
                <label for="validationCustom02" class="form-label">Tipo de persona</label>
                <div class="input-group has-validation">
                <select class="form-select" aria-label="Default select example" formControlName="categoria">
                    <option selected>Selecciona</option>
                    <option value="1">Natural</option>
                    <option value="2">Jurídica</option>
                    </select>
            </div>
            <div class="mb-3">
                <label for="validationCustom03" class="form-label">Documento o Nit</label>
                <div class="input-group has-validation">
                    <input type="text" class="form-control" placeholder="Ejemplo: 1.121.852.369 (-1)" id="validationCustom03" formControlName="documento">
            </div>
            <div class="mb-3">
                <label for="validationCustom05" class="form-label">Correo</label>
                <div class="input-group has-validation">
                    <input type="text" class="form-control" placeholder="Ejemplo: Jesutlerparappelin@gmail.com" id="validationCustom05" formControlName="correo">
            </div>
            <div class="md-3">
                <label for="validationCustom04" class="form-label">Dirección</label>
                <div class="input-group has-validation">
                    <input type="text" class="form-control" placeholder="Ejemplo: Cll 11 #23a -45  Tangamandapio" id="validationCustom04" formControlName="dirección">
            </div>
            <div class="md-3">
                <label for="validationCustom04" class="form-label">Número de contacto</label>
                <div class="input-group has-validation">
                    <input type="text" class="form-control" placeholder="Ejemplo: 317 662 25XX" id="validationCustom04" formControlName="Telefono">
            </div>
            <div class="md-3">
                <label for="validationCustom04" class="form-label">Ciudad</label>
                <div class="input-group has-validation">
                    <input type="text" class="form-control" placeholder="Ejemplo: Tangamandapio" id="validationCustom04" formControlName="ciudad">
            </div>
            <div class="col-12">
            </div>
            <div class="col-12">
            <button class="btn btn-primary" type="submit" >Registrarse</button>
            </div>
            </div>
        </div>
        
</div>