<div class="container">
    <h1>{{productoEditar ? 'Actualizar Producto' : 'Agregar Producto'}}</h1>
        <form [formGroup]="formProductos">
            <div class="mb-3">
            <label for="validationCustom01" class="form-label">Nombre del producto</label>
            <input type="text" class="form-control" placeholder="Ejemplo: Arroz Diana 1Lb" id="validationCustom01" formControlName="nombre">
            </div>
            <div class="mb-3">
                <label for="validationCustom05" class="form-label">Cantidad disponible</label>
                <input type="text" class="form-control" placeholder="Ejemplo: Arroz en bolsa plastica de 1Lb" id="validationCustom03" formControlName="cantidad">
            </div>
            <div class="mb-3">
                <label for="validationCustom02" class="form-label">Categoría</label>
                <select class="form-select" aria-label="Default select example" formControlName="categoria">
                    <option selected>Selecciona la categoría</option>
                    <option value="1">Víveres</option>
                    <option value="2">Aseo</option>
                    <option value="3">Tecnología</option>
                    <option value="4">Papelería</option>
                    <option value="5">Ferretería</option>
                    </select>
            </div>
            <div class="mb-3">
                <label for="validationCustom03" class="form-label">Descripción</label>
            <input type="text" class="form-control" placeholder="Ejemplo: Arroz en bolsa plastica de 1Lb" id="validationCustom03" formControlName="descripcion">
                </div>
            <div class="mb-3">
                <label for="validationCustom05" class="form-label">Foto</label>
                <input type="text" class="form-control" id="validationCustom05" formControlName="foto">
            </div>
            <div class="md-3">
                <label for="validationCustom04" class="form-label">Valor del producto</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">$</span>
                    <input type="text" class="form-control" placeholder="Ejemplo: $2.000" id="validationCustom04" aria-describedby="inputGroupPrepend" formControlName="valor">
            </div>
            <div class="col-12">
            </div>
            <div class="col-12">
            <button class="btn btn-primary" type="submit" [disabled]="formProductos.invalid" (click)="agregarProducto()" *ngIf="!productoEditar" >Agregar</button>
            <button class="btn btn-primary" type="submit" [disabled]="formProductos.invalid" (click)="actualizarProducto()" *ngIf="productoEditar">Actualizar</button>
            </div>
        </div>
        </form>
</div>