<div class="container">
    <h1 style="text-align: center; margin-bottom: 50px;">Productos disponibles</h1>
    <div style="float: right;" class="col-4">
    <div class="input-group rounded" style="margin-bottom: 40px;">
      <input type="search" class="form-control rounded" placeholder="Ingrese criterio de búsqueda" aria-label="Search"
      aria-describedby="search-addon" />
      <button type="button" class="btn btn-outline-primary">Buscar</button>
    </div>
    </div>
    <table class="table" style="text-align:right;">
        <tbody>
          <tr>
            <tr *ngFor="let producto of productos; let i = index">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.cantidad }}</td>
              <td>{{ producto.categoria }}</td>
              <td>{{ producto.descripcion }}</td>
              <td>{{ producto.foto }}</td>
              <td>{{ producto.valor }}</td>
                <!-- <button type="button" style="margin-right: 20px;" class="btn btn-outline-warning">Editar</button> -->
                <button type="button" style="margin-right: 20px;" class="btn btn-outline-info" (click)="editarProducto(producto)">Editar</button>
                <!-- <button type="button" style="margin-right: 20px;" class="btn btn-outline-danger">Eliminar</button> -->
                <button type="button" style="margin-right: 20px;" class="btn btn-outline-danger" (click)="eliminarProducto(producto.id)">Eliminar</button>
              </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-outline-success" routerLink="/formulario-producto">Agregar</button>
    <!-- <button type="button" class="btn btn-outline-success" routerLink="/formulario-producto">Agregar</button> -->
  </div>

<!--<tr *ngFor="let producto of productos; let i = index">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ producto.nombre }}</td>
    <td>{{ producto.cantidad }}</td>
    <td>{{ producto.categoria }}</td>
    <td>{{ producto.descripcion }}</td>
    <td>{{ producto.foto }}</td>
    <td>{{ producto.valor }}</td>
    <td><button type="button" class="btn btn-danger" (click)="eliminarCancion(cancion.idcanciones)">Eliminar</button></td>
    </tr>-->